openapi: 3.0.1

info:
  contact:
    email: info@berlin-group.org
    name: The Berlin Group - A European Standards Initiative
    url: https://www.berlin-group.org/
  description: |
    XS2A and the openFinance API have to deal with PSU consent for very different scenarios since the API client 
    can access sensitive PSU data via the API. The legal text [PSD2] and [EBA-RTS] introduces the notion of consent 
    for AIS, PIS as well as PIIS. In addition, operational rules of premium services might add requirements on PSU consent for services introduced at all times.
  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  title: openFinance API Framework Extended Services Verification of Party (VOP)
  version: "1.1"
  x-references:
    documents:
      - document:
        title: openFinance API Framework Data Dictionary
        version: "2.4"
      - document:
        title: openFinance API Framework Extended Services Verification of Party (VOP)
        version: "1.1"

externalDocs:
  description: |
    openFinance API Framework
    Implementation Guidelines
    Consent API for V2.x
  url: https://www.berlin-group.org/openfinance-downloads

servers:
  - url: https://api.testbank.com/psd2
    description: PSD2 server
  - url: https://test-api.testbank.com/psd2
    description: Optional PSD2 test server

tags:
  - name: Verification of Party (VOP) API
    description: |
      The VOP API offers the following services:
        * Dedicated VOP
        * Dedicated VOP for batch processing

paths:
  /v2/{party-verification-endpoint}:
    post:
      summary: Submits a Verification of Party Request
      description: | 
        Submits a Verification of Party Request.
      operationId: verificationOfParty
      tags:
        - Verification of Party (VOP) API
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_partyVerificationEndpoint'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_acceptLanguage'
        - $ref: '#/components/parameters/HEADER_apiContractId'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              required:
                - partyAccount
                - party
              properties:
                partyAccount:
                  description: |
                    The data type might be restricted by the ASPSP to e.g. "iban" use only, which would be Account Reference2 as data type.
                    NOTE; If IBAN or BBAN is not sufficient to identify the related account, e.g. an electronic money account, then the proxy attribut-eremittance information should be used in addition to fully identify the account.
                  allOf:
                    - $ref: '#/components/schemas/accountReference'
                partyAgent:
                  description: |
                  allOf:
                    - $ref: '#/components/schemas/agentDescription'
                party:
                  description: |
                    This structure shall contain the party name and/or a  party identifier, 
                    Related API Access Schemes might define further requirements/restrictions, e.g. 
                    - Only support the usage of either name or identifica-tion.
                    - Or only support organisa-tion identification
                  allOf:
                    - $ref: '#/components/schemas/partyDescription4'
                unstructuredRemittanceInformation: 
                  description: |
                    This attribute may contain data to refer to electronic money ac-counts. 
                  type: array
                  items:
                    $ref: '#/components/schemas/Max140Text'
                requestingAgent:
                  description: |
                    Only applicable in the inter-bank/inter-PSP sphere.
                  allOf:
                    - $ref: '#/components/schemas/agentDescription'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_VOP'
        '400':
          $ref: '#/components/responses/decline_400_VOP'
        '401':
          $ref: '#/components/responses/decline_401_VOP'
        '403':
          $ref: '#/components/responses/decline_403_VOP'
        '404':
          $ref: '#/components/responses/decline_404_VOP'
        '405':
          $ref: '#/components/responses/decline_405_VOP'
        '406':
          $ref: '#/components/responses/decline_406_VOP'
        '408':
          $ref: '#/components/responses/decline_408_VOP'
        '409':
          $ref: '#/components/responses/decline_409_VOP'
        '415':
          $ref: '#/components/responses/decline_415_VOP'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{bulk-party-verification-endpoint}:
    post:
      summary: Submits a bulk of related party verification requests
      description: | 
        Submits a bulk of related party verification requests.
      operationId: bulkVerificationOfParty
      tags:
        - Verification of Party (VOP) API
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_partyVerificationBulkEndpoint'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_bodySigProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncProfile'
        - $ref: '#/components/parameters/HEADER_bodyEncList'
        - $ref: '#/components/parameters/HEADER_clientAsynchronousProcessPreferred'
        - $ref: '#/components/parameters/HEADER_apiContractId'
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              type: object
              required:
                - partyVerificationRequests
              properties:
                partyVerificationRequests:
                  description: |
                    A non-empty bulk of related party verification entries.
                  type: array
                  minItems: 1
                  items: 
                    $ref: '#/components/schemas/partyVerificationRequest'
                requestingAgent:
                  description: |
                    Only applicable in the inter-bank/inter-PSP sphere.
                  allOf:
                    - $ref: '#/components/schemas/agentDescription'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_VOPbulk'
        '202':
          $ref: '#/components/responses/Accepted_202_VOPbulk'
        '400':
          $ref: '#/components/responses/decline_400_VOPbulk'
        '401':
          $ref: '#/components/responses/decline_401_VOPbulk'
        '403':
          $ref: '#/components/responses/decline_403_VOPbulk'
        '404':
          $ref: '#/components/responses/decline_404_VOPbulk'
        '405':
          $ref: '#/components/responses/decline_405_VOPbulk'
        '406':
          $ref: '#/components/responses/decline_406_VOPbulk'
        '408':
          $ref: '#/components/responses/decline_408_VOPbulk'
        '409':
          $ref: '#/components/responses/decline_409_VOPbulk'
        '415':
          $ref: '#/components/responses/decline_415_VOPbulk'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{bulk-party-verification-endpoint}/{vopBulkId}:
    get:
      summary: Retrieve Bulk Verification of Party Request
      description: | 
        Retrieves the detailed status of a bulk of related party verification requests.
      operationId: getBulkVerificationOfParty
      tags:
        - Verification of Party (VOP) API
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_partyVerificationBulkEndpoint'
        - $ref: '#/components/parameters/PATH_vopBulkId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_apiContractId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_GET_VOPbulk'
        '400':
          $ref: '#/components/responses/decline_400_VOP'
        '401':
          $ref: '#/components/responses/decline_401_VOP'
        '403':
          $ref: '#/components/responses/decline_403_VOP'
        '404':
          $ref: '#/components/responses/decline_404_VOP'
        '405':
          $ref: '#/components/responses/decline_405_VOP'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_VOP'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{bulk-party-verification-endpoint}/{vopBulkId}/status:
    get:
      summary: Get Status of Bulk Verification of Party Request
      description: | 
        Retrieves the detailed status of a bulk of related party verification requests.
      operationId: getBulkVerificationOfPartyStatus
      tags:
        - Verification of Party (VOP) API
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_partyVerificationBulkEndpoint'
        - $ref: '#/components/parameters/PATH_vopBulkId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
        - $ref: '#/components/parameters/HEADER_apiContractId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_VOPbulk_Status'
        '400':
          $ref: '#/components/responses/decline_400_VOP'
        '401':
          $ref: '#/components/responses/decline_401_VOP'
        '403':
          $ref: '#/components/responses/decline_403_VOP'
        '404':
          $ref: '#/components/responses/decline_404_VOP'
        '405':
          $ref: '#/components/responses/decline_405_VOP'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_VOP'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'
  /v2/{payment-service}/{payment-product}/{paymentId}/creditor-confirmation:
    put:
      summary: New Method for Confirmation of Creditor Name and Payment
      description: | 
        Submits a Confirmation of Creditor Name Request.
      operationId: creditorConfirmation
      tags:
        - Verification of Party (VOP) API
      security:
        - {}
        - BearerAuthOAuth: []
      parameters:
        - $ref: '#/components/parameters/PATH_paymentService'
        - $ref: '#/components/parameters/PATH_paymentProduct_all'
        - $ref: '#/components/parameters/PATH_paymentId'
        - $ref: '#/components/parameters/HEADER_digest'
        - $ref: '#/components/parameters/HEADER_xJwsSignature'
        - $ref: '#/components/parameters/HEADER_xRequestId'
      responses:
        '200':
          $ref: '#/components/responses/Ok_200_Creditor_Confirmation'
        '400':
          $ref: '#/components/responses/decline_400_VOP'
        '401':
          $ref: '#/components/responses/decline_401_VOP'
        '403':
          $ref: '#/components/responses/decline_403_VOP'
        '404':
          $ref: '#/components/responses/decline_404_VOP'
        '405':
          $ref: '#/components/responses/decline_405_VOP'
        '406':
          $ref: '#/components/responses/decline_406'
        '408':
          $ref: '#/components/responses/decline_408'
        '409':
          $ref: '#/components/responses/decline_409_VOP'
        '415':
          $ref: '#/components/responses/decline_415'
        '500':
          $ref: '#/components/responses/decline_500'
        '503':
          $ref: '#/components/responses/decline_503'


components:
  securitySchemes:
    BearerAuthOAuth:
      description: |
        Bearer Token. 
        Is contained only, if an OAuth2 based authentication was performed in a pre-step or 
        an OAuth2 based SCA was performed in a preceding AIS service in the same session.
      type: http
      scheme: bearer
  schemas:
    partyVerificationRequest:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"Party Verification Request\" for more details.
      type: object
      required:
        - uetr
        - partyAccount
        - party
      properties:
        uetr:
          description: |
            Identifies this party identification request.
          allOf:
            - $ref: '#/components/schemas/UUID'
        partyAccount:
          description: |
            The data type might be restricted by the ASPSP to e.g. "iban" use only, which would be Account Reference2 as data type.
          allOf:
            - $ref: '#/components/schemas/accountReference'
        partyAgent:
          description: |
          allOf:
            - $ref: '#/components/schemas/agentDescription'
        party:
          description: |
            This structure shall contain the party name and/or a  party identifier, 
            Related API Access Schemes might define further requirements.                    
          allOf:
            - $ref: '#/components/schemas/partyDescription4'
    Max2048Text:
      type: string
      maxLength: 2048
      example: 'Text, maximum of 2048 characters.'
    OrganisationIdentificationCode:
      description: |
      type: string
      enum:
        - BANK
        - CBID
        - CHID
        - CINC
        - COID
        - CUST
        - DUNS
        - EMPL
        - GS1G
        - SREN
        - SRET
        - TXID
        - BDID
        - BOID
      example: 'BOID'
    error_RFC7807_401_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        _links:
          $ref: '#/components/schemas/links'
    error_RFC7807_404_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        _links:
          $ref: '#/components/schemas/links'
    error_NG_409_VOPbulk: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_409_VOPbulk'
        _links:
          $ref: '#/components/schemas/links'
    TransactionStatus:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Transaction Status\" for more details.
      type: string
      enum:
        - ACCC
        - ACCP
        - ACFW
        - ACSC
        - ACSP
        - ACTC
        - ACWC
        - ACWP
        - RCVD
        - PDNG
        - RJCT
        - CANC
        - ACFC
        - PATC
        - PART
        - PRES
        - RVCM
        - RVNC
        - RCVC
      example: 'ACCC'
    error_NG_400_VOP: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_400_VOP'
        _links:
          $ref: '#/components/schemas/links'
    clientMessageInformation_409_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    Max500Text:
      type: string
      maxLength: 500
      example: 'Text, maximum of 500 characters.'
    CurrencyCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{3}'
      example: 'EUR'
    error_RFC7807_403_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        _links:
          $ref: '#/components/schemas/links'
    Max70Text:
      type: string
      maxLength: 70
      example: 'Text, maximum of 70 characters.'
    partyVerificationResponse:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"Party Verification Response\" for more details.
      type: object
      required:
        - uetr
      properties:
        uetr:
          description: |
            Identifies this party identification request.
          allOf:
            - $ref: '#/components/schemas/UUID'
        partyNameMatch:
          description: |
            Only provided, if a party name has been provided.
          allOf:
            - $ref: '#/components/schemas/PartyNameMatchCode'
        partyIdMatch:
          description: |
            Only provided, if a party identification has been provided.
          allOf:
            - $ref: '#/components/schemas/PartyIdentificationMatchCode'
        matchedName:
          description: |
            This attribute might be provided in case of a near match and contains the name as provided by the addressed party agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        additionalInformation:
          description: |
            Should be human readable text.
          allOf:
            - $ref: '#/components/schemas/Max500Text'
    hrefType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"href Type\" for more details.
      type: object
      required:
        - href
      properties:
        href:
          description: |
          type: string
    links:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Links\" for more details.
      type: object
      properties:
        scaRedirect:
          description: |
            A link to an ASPSP site where SCA is performed within the Redirect SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaOAuth:
          description: |
            The link refers to a JSON document specifying the OAuth details of the ASPSP's authorisation server. JSON document follows the definition given in [RFC 8414].
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmation:
          description: |
            \"confirmation\": Might be added by the ASPSP if either the \"scaRedirect\" or \"scaOAuth\" hyperlink is returned in the same response message. 
            This hyperlink defines the URL to the resource which needs to be updated with 
            * a confirmation code as retrieved after the plain redirect authentication process with the ASPSP authentication server or
            * an access token as retrieved by submitting an authorization code after the integrated Oauth based authentication process with the ASPSP authentication server.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        creditorNameConfirmation:
          description: |
            A link to an endpoint, where the submitted payment needs to be confirmed explicitly for execution after a verification of payee process has detected a deviation in the creditor account/creditor name pair.
            If this hyperlink is provided, the addressed payment will not be executed without a related confirmation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          description: |
            A link to an endpoint, where the authorisation of a transaction or the authorisation of a transaction cancellation shall be started with a POST command. 
            No specific data is needed for this process start.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU identification shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuIdentification:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the PSU identification if not delivered yet.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithProprietaryData:
          description: |
            A link to the endpoint, where the authorisation of a transaction or of a transaction cancellation shall be started, and where proprietary data needs to be updated with this call. 
            The TPP can find the scope of missing proprietary data in the ASPSP documentation.
            The usage of this hyperlink is not further specified in the specification but is used analogously to e.g. the startAuthorisation withPsuIdentification hyperlink.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateProprietaryData:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by the proprietary data.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updatePsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by a PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          description: |
            The link to an endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, where encrypted PSU authentication data shall be uploaded 
            with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateEncryptedPsuAuthentication:
          description: |
            The link to the payment initiation or account information resource, which needs to be updated by an encrypted PSU password and eventually the PSU identification if not delivered yet. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          description: |
            This is a link to and endpoint where the authorisation of a transaction or of a transaction cancellation shall be started, 
            where the selected SCA method shall be uploaded  with the corresponding call.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        selectAuthenticationMethod:
          description: |
            This is a link to a resource, where the TPP can select the applicable second factor authentication methods for the PSU, if there were several available authentication methods. 
          allOf:
            - $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          description: |
            A link to an endpoint, where an authorisation of a transaction or a cancellation can be started, and where the response data for the challenge is uploaded in the same call for the 
            transaction authorisation or transaction cancellation at the same time in the Embedded SCA Approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        authoriseTransaction:
          description: |
            The link to the payment initiation or consent resource, where the \"Transaction Authorisation\"Request\" is sent to. This is the link to the resource which will authorise the payment or the consent by 
            checking the SCA authentication data within the Embedded SCA approach.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        updateResourceByDebtorAccountResource:
          description: |
            A link to a payment related resource which needs to be updated by an account, referenced by a resource identification.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        self:
          description: |
            The link to the payment initiation resource created by the request itself. 
            This link can be used later to retrieve the transaction status of the payment initiation.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        status:
          description: |
            A link to retrieve the status of the transaction resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        changedVersion?{inChange=true}:
          description: |
            A link to retrieve the changed version of a resource that was created due to a Change Transaction Resource Request. The link can be used to retrieve the related ETag of the changed version.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionfees:
          description: |
            The link is to the status resource.  
            This link is only added within the authorisation process in case fee information is available via the status resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        scaStatus:
          description: |
            A link to retrieve the status of the authorisation or cancellation-authorisation sub-resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        account:
          description: |
            A link to the resource providing the details of one account
          allOf:
            - $ref: '#/components/schemas/hrefType'
        savingsAccount:
          description: |
            A link to the resource providing the details of a savings account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        loanAccount:
          description: |
            A link to the resource providing the details of a loan account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        balances:
          description: |
            A link to the resource providing the balance of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactions:
          description: |
            A link to the resource providing the transaction history of a dedicated account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardAccount:
          description: |
            A link to the resource providing the details of one card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        cardTransactions:
          description: |
            A link to the resource providing the transaction history of a dedicated card account.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        transactionDetails:
          description: |
            A link to the resource providing details of a dedicated transaction.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        ibanCheck:
          description: |
            A link to the endpoint offering the addressed iban check result.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        paymentInitiation:
          description: |
            A link to an initiation related to a payment resource.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        securitiesAccount:
          description: |
            A link to the resource providing the details of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        positions:
          description: |
            A link to the resource providing the list of positions of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orders:
          description: |
            A link to the resource providing the list of orders of one securitiesAccount.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        orderDetails:
          description: |
            A link to the resource providing details of one specific order.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        relatedOrders:
          description: |
            An array of links to request order details of related orders related to the order that is represented by the data structure containing this element 
            (e.g. other orders that originated from the same order split as this order). 
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        relatedTransactions:
          description: |
            An array of links to request securities transaction details of transactions that resulted from this order.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        subscription:
          description: |
            A link to the resource providing the details of a subscription for Push AIS Services.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        entryStatusRevoked:
          description: |
            Links to entry endpoints where the entry status is revoked.
          type: array
          items:
            $ref: '#/components/schemas/hrefType'
        first:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        next:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        previous:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        last:
          description: |
            Navigation link for paginated account reports.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        download:
          description: |
            Download link for huge AIS data packages.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmInitiation:
          description: |
            link to a confirmation endpoint, where a payment initiation needs to be confirmed explicitly by the API Client for execution.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspParameters:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspContacts:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        aspspDowntimes:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        onboardings:
          description: |
            A link to commercially onboard to the related API, see openFinance, Admin Services for more details.
          allOf:
            - $ref: '#/components/schemas/hrefType'
        readConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
        confirmConditions:
          description: |
          allOf:
            - $ref: '#/components/schemas/hrefType'
    error_RFC7807_403_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        _links:
          $ref: '#/components/schemas/links'
    genericFinancialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Financial Institution Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of a financial insitution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/FinancialInstitutionIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    UUID:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: uuid
      example: '99435c7e-ad88-49ec-a2ad-99ddcb1f5555'
    financialInstitutionIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Financial Institution Identification\" for more details.
      type: object
      properties:
        bicfi:
          description: |
          allOf:
            - $ref: '#/components/schemas/BICFI'
        clearingSystemMemberId:
          description: |
            Information used to identify a member within a clearing system.
          allOf:
            - $ref: '#/components/schemas/clearingSystemMemberIdentification'
        name:
          description: |
            Name of the financial institution
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postalAddress:
          description: |
            Postal Address of the financial institution.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
        other:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          allOf:
            - $ref: '#/components/schemas/genericFinancialInstitutionIdentification'
    error_RFC7807_405_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        _links:
          $ref: '#/components/schemas/links'
    Max35Text:
      type: string
      maxLength: 35
      example: 'Text, maximum of 35 characters.'
    clientMessageInformation_400_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    AuthenticationType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Authentication Type\" for more details.
      type: string
      enum: 
        - SMS_OTP
        - CHIP_OTP
        - PHOTO_OTP
        - PUSH_OTP
        - SMTP_OTP
      example: 'PUSH_OTP'
    error_RFC7807_401_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        _links:
          $ref: '#/components/schemas/links'
    error_NG_403_VOP: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_403_VOP'
        _links:
          $ref: '#/components/schemas/links'
    PartyNameMatchCode:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"Party Name Match Code\" for more details.
        Code    Desription
         MTCH     Match
         NMTC     No match
         MBAM     The provided creditor name closely resembles the account holder name
         NOAP     Validation check is not applicable
         NOTC     Validation check has not been carried out.
      type: string
      enum:
        - MTCH
        - NMTC
        - CMTC
        - NOAP
      example: 'MBAM'
    accountReference:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Account Reference\" for more details.
      type: object
      properties:
        iban:
          description: |
          allOf:
            - $ref: '#/components/schemas/IBAN'
        bban:
          description: |
            BBAN of the account. This data elements is used for payment accounts which have no IBAN.
          allOf:
            - $ref: '#/components/schemas/BBAN'
        pan:
          description: |
            Primary Account Number (PAN) of a card, can be tokenised by the ASPSP due to PCI DSS requirements. 
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        maskedPan:
          description: |
            Primary Account Number (PAN) of a card in a masked form.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        msisdn:
          description: |
            An alias to access a payment account via a registered mobile phone number.
          allOf:
            - $ref: '#/components/schemas/MSISDN'
        other:
          description: |
            An alias with a proprietary coding
          allOf:
            - $ref: '#/components/schemas/genericAccountIdentification'
        typeCode:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/CashAccountType'
        typeProprietary:
          description: |
            Remark: Shall not be used in the consent model, since account category provides enough information for the ASPSP.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        currency:
          description: |
            ISO 4217 Alpha 3 currency code
          allOf:
            - $ref: '#/components/schemas/CurrencyCode'
        proxy:
          description: |
          allOf:
            - $ref: '#/components/schemas/proxyAccountIdentification'
        name:
          description: |
            Name of the account
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        owner: 
          description: |
          allOf: 
            - $ref: '#/components/schemas/partyDescription2'
        servicer:
          description: |
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
    error_RFC7807_409_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        _links:
          $ref: '#/components/schemas/links'
    IBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}'
      example: 'FR7612345987650123456789014'
    error_NG_400_VOPbulk: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_400_VOPbulk'
        _links:
          $ref: '#/components/schemas/links'
    ClearingSystemIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more detail
      type: string
      enum:
        - ATBLZ
        - AUBSB
        - CACPA
        - CHBCC
        - CHSIC
        - CNAPS
        - DEBLZ
        - ESNCC
        - GBDSC
        - GRBIC
        - HKNCC
        - IENCC
        - INFSC
        - ITNCC
        - JPZGN
        - NZNCC
        - PLKNR
        - PTNCC
        - RUCBC
        - SESBA
        - SGIBG
        - THCBC
        - TWNCC
        - USABA
        - USPID
        - ZANCC
        - NZRSA
        - MZBMO
        - CNCIP
        - KRBOK
      example: 'DEBLZ'
    Max16Text:
      type: string
      maxLength: 16
      example: '16 Chars at most'
    error_NG_404_VOPbulk: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_404_VOPbulk'
        _links:
          $ref: '#/components/schemas/links'
    error_RFC7807_400_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        _links:
          $ref: '#/components/schemas/links'
    error_NG_404_VOP: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_404_VOP'
        _links:
          $ref: '#/components/schemas/links'
    clientMessageInformation_404_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    CashAccountType:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - CACC
        - CARD
        - CASH
        - CHAR
        - CISH
        - COMM
        - CPAC
        - LLSV
        - LOAN
        - MGLD
        - MOMA
        - NREX
        - ODFT
        - ONDP
        - OTHR
        - SACC
        - SLRY
        - SVGS
        - TAXE
        - TRAN
        - TRAS
        - VACC
        - NFCA
      example: 'CACC'
    genericAccountIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Account Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of an account.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/AccountIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    postalAddress:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Postal Address (Either Structured or Unstructured Address)\" for more details.
      type: object
      properties:
        addressLines:
          description: |
            At most seven entries are permitted. May only be used, if none of the structured address elements \"streetName\", \"buildingNumber\", \"postcode\" or \"townName\" is used.
            *Remark:* For SEPA transactions this is further restricted to a maximum of 1 entry.
          type: array
          maxItems: 7
          items:
            $ref: '#/components/schemas/Max140Text'
        department:
          description: |
            Identification of a division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        subDepartment:
          description: |
            Identification of a sub-division of a large organisation or building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        streetName:
          description: |
            Name of a street or thoroughfare.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        buildingNumber:
          description: |
            Number that identifies the position of a building on a street.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        buildingName:
          description: |
            Name of the building or house.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        floor:
          description: |
            Floor or storey within a building.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        postBox:
          description: |
            Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        room:
          description: |
            Building room number.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        postCode:
          description: |
            Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
          allOf:
            - $ref: '#/components/schemas/Max16Text'
        townName:
          description: |
            Name of a built-up area, with defined boundaries, and a local government. 
            *Usage Rule:* If address lines are not used, this attribute is mandatrory.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        townLocationName:
          description: |
            Specific location name within the town.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        districtName:
          description: |
            Identifies a subdivision within a country sub-division.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        countrySubDivision:
          description: |
            Identifies a subdivision of a country such as state, region, county.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        country:
          description: |
            Nation with its own government.
            *Usage Rule:* If address lines are not used, this attribute is mandatrory.
          allOf:
            - $ref: '#/components/schemas/CountryCode'
    genericOrganisationIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Generic Organisation Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of an organisation.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/OrganisationIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    personIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Person Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        identification:
          description: |
            Unique and unambiguous identification of a oersib.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        schemeNameCode:
          description: |
            An entry provided by an external ISO code list
          allOf:
            - $ref: '#/components/schemas/PersonIdentificationCode'
        schemeNameProprietary:
          description: |
            A scheme name defined in a proprietary way.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        issuer:
          description: |
            Issuer of the identification
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    privateIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Private Identification\" for more details.
      type: object
      properties:
        birthDate:
          description: |
          allOf:
            - $ref: '#/components/schemas/ISODate'
        provinceOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        cityOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        countryOfBirth:
          description: |
          allOf:
            - $ref: '#/components/schemas/CountryCode'
        others:
          description: |
            Unique identification of a person, as assigned by an institution, using an identification scheme. 
            Shall be used if none of the above attributes is used.
          type: array
          items:
            $ref: '#/components/schemas/personIdentification'
    clientMessageInformation_403_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    error_NG_405_VOP: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_405_VOP'
        _links:
          $ref: '#/components/schemas/links'
    error_RFC7807_400_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        _links:
          $ref: '#/components/schemas/links'
    _links_200_Creditor_Confirmation: 
      type: object
      additionalProperties: 
        $ref: '#/components/schemas/hrefType'
      properties:
        scaRedirect:
          $ref: '#/components/schemas/hrefType'
        scaOAuth:
          $ref: '#/components/schemas/hrefType'
        confirmation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisation:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuIdentification:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithEncryptedPsuAuthentication:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithAuthenticationMethodSelection:
          $ref: '#/components/schemas/hrefType'
        startAuthorisationWithTransactionAuthorisation:
          $ref: '#/components/schemas/hrefType'
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
        scaStatus:
          $ref: '#/components/schemas/hrefType'
        encryptionCertificates:
          type: array
          items: 
            $ref: '#/components/schemas/hrefType'
    partyDescription4:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description4\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        identification:
          description: |
            Identification of the party.
          allOf:
            - $ref: '#/components/schemas/partyIdentification'
    PartyIdentificationMatchCode:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"Party Identification Match Code\" for more details.
        Code    Desription
         MTCH     Match
         NMTC     No match
         NOAP     Validation check is not applicable
         NOTC     Validation check has not been carried out.        
      type: string
      enum:
        - MTCH
        - NMTC
        - NOAP
      example: 'MTCH'
    MSISDN:
      type: string
      pattern: \+[0-9]{1,3}-[0-9()+\-]{1,30}
      description: See document "openFinance API Framework Data Dictionary", section
        "Other ISO-related basic Types" for more details.
    partyDescription2:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Party Description2\" for more details.
      type: object
      properties:
        name:
          description: |
            Name of the party.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        postalAddress:
          description: |
            Postal Address of the party.
          allOf:
            - $ref: '#/components/schemas/postalAddress'
    AccountIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum: 
        - AIIN
        - BBAN
        - CUID
        - UPIC
      example: 'AIIN'
    _links_202_VOPbulk: 
      type: object
      additionalProperties: 
        $ref: '#/components/schemas/hrefType'
      properties:
        self:
          $ref: '#/components/schemas/hrefType'
        status:
          $ref: '#/components/schemas/hrefType'
    clientMessageInformation_401_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    Max256Text:
      type: string
      maxLength: 256
      example: 'Text, maximum of 256 characters.'
    clearingSystemMemberIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Clearing System Member Identification\" for more details.
      type: object
      properties:
        memberId:
          description: |
            Identification of a member of a clearing system.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        clearingSystemIdentificationCode:
          description: |
            Identification of a clearing system, in a coded form as published in an external list.
          allOf:
            - $ref: '#/components/schemas/ClearingSystemIdentificationCode'
        clearingSystemIdentificationProprietary:
          description: |
            Identification code for a clearing system, that has not yet been identified in the list of clearing systems.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
    clientMessageInformation_404_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    organisationIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Organisation Identification\" for more details.
      type: object
      properties:
        anyBIC:
          description: |
            A code allocated to a business entity or to a financial institution by a Registration Authority under an international identification scheme.
          allOf:
            - $ref: '#/components/schemas/BICFI'
        lei:
          description: |
            Legal Entity Identifier.
          allOf:
            - $ref: '#/components/schemas/LEI'
        others:
          description: |
            Unique identification of an organisation, as assigned by an institution, using an identification scheme.
          type: array
          items:
            $ref: '#/components/schemas/genericOrganisationIdentification'
    error_RFC7807_409_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        _links:
          $ref: '#/components/schemas/links'
    partyVerificationRequestAndResponse:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"Party Verification Request and Response\" for more details.
      type: object
      required:
        - uetr
        - partyAccount
        - party
      properties:
        uetr:
          description: |
            Identifies this party identification request.
          allOf:
            - $ref: '#/components/schemas/UUID'
        partyAccount:
          description: |
            The data type might be restricted by the ASPSP to e.g. "iban" use only, which would be Account Reference2 as data type.
          allOf:
            - $ref: '#/components/schemas/accountReference'
        partyAgent:
          description: |
          allOf:
            - $ref: '#/components/schemas/agentDescription'
        party:
          description: |
            This structure shall contain the party name and/or a  party identifier, 
            Related API Access Schemes might define further requirements.                    
          allOf:
            - $ref: '#/components/schemas/partyDescription4'
        partyNameMatch:
          description: |
            Only provided, if a party name has been provided.
          allOf:
            - $ref: '#/components/schemas/PartyNameMatchCode'
        partyIdMatch:
          description: |
            Only provided, if a party identification has been provided.
          allOf:
            - $ref: '#/components/schemas/PartyIdentificationMatchCode'
        matchedName:
          description: |
            This attribute might be provided in case of a near match and contains the name as provided by the addressed party agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
        additionalInformation:
          description: |
            Should be human readable text.
          allOf:
            - $ref: '#/components/schemas/Max500Text'
    VOPBulkStatus:
      description: |
        See document \"openFinance API Framework Extended Services Verification of Party (VOP) \", 
        section \"VOP Bulk Status\" for more details.
        Code         Description
         recieved     Bulk technically received and bulk formatted correctly
         pending      processing ongoing
         rejected     Some processing errors have occurred which did not allow to process the requests
         completed    all verification results, requested in the vop bulk, are completed
      type: string
      enum:
        - recieved
        - pending
        - rejected
        - completed
      example: 'pending'
    agentDescription:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Agent Description\" for more details.
      type: object
      required:
        - financialInstitutionId
      properties:
        financialInstitutionId:
          description: |
          allOf:
            - $ref: '#/components/schemas/financialInstitutionIdentification'
        branchIdentificationId:
          description: |
            Unique and unambiguous identification of a branch of a financial institution.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        branchIdentificationName:
          description: |
            Name by which an agent is known and which is usually used to identify that agent.
          allOf:
            - $ref: '#/components/schemas/Max140Text'
    clientMessageInformation_403_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_403'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    authenticationObject:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Authentication Object\" for more details.
      type: object
      required:
        - authenticationType
        - authenticationMethodId
        - name
      properties:
        authenticationType:
          description: |
            Type of the authentication method.
          allOf:
            - $ref: '#/components/schemas/AuthenticationType'
        authenticationVersion:
          description: |
            Depending on the \"authenticationType\". This version can be used by differentiating authentication tools used within performing OTP generation in the same authentication type. 
            This version can be referred to in the ASPSP's documentation.
          type: string
        authenticationMethodId:
          description: |
            An identification provided by the ASPSP for the later identification of the authentication method selection.
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        name:
          description: |
            This is the name of the authentication method defined by the PSU in the Online Banking frontend of the ASPSP. 
            Alternatively this could be a description provided by the ASPSP like \"SMS OTP on phone +49160 xxxxx 28\".
            This name shall be used by the TPP when presenting a list of authentication methods to the PSU, if available.
          type: string
        explanation:
          description: |
            detailed information about the SCA method for the PSU
          type: string
    clientMessageInformation_405_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    error_RFC7807_404_VOPbulk: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_404'
        _links:
          $ref: '#/components/schemas/links'
    BICFI:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}'
      example: 'ECBFDEFFFIM'
    CountryCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z]{2}'
      example: 'SE'
    Max140Text:
      type: string
      maxLength: 140
      example: 'Text, maximum of 140 characters.'
    clientMessageInformation_409_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_409'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    PersonIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - ARNU
        - CCPT
        - CUST
        - DRLC
        - EMPL
        - NIDN
        - SOSE
        - TELE
        - TXID
        - POID
      example: 'NIDN'
    clientMessageInformation_401_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_401'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    proxyAccountIdentification:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Proxy Account Identification\" for more details.
      type: object
      required:
        - identification
      properties:
        typeCode:
          description: |
            Type of the proxy identification
          allOf:
            - $ref: '#/components/schemas/ProxyAccountTypeCode'
        typeProprietary:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max35Text'
        identification:
          description: |
          allOf:
            - $ref: '#/components/schemas/Max2048Text'
    error_NG_403_VOPbulk: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_403_VOPbulk'
        _links:
          $ref: '#/components/schemas/links'
    ProxyAccountTypeCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      enum:
        - TELE
        - EMAL
        - DNAM
        - CINC
        - COTX
        - COID
        - CUST
        - DRLC
        - EIDN
        - EWAL
        - PVTX
        - LEIC
        - MBNO
        - NIDN
        - CCPT
        - SHID
        - SOSE
        - TOKN
        - UBIL
        - VIPN
        - BIID
      example: 'EMAL'
    StatusReasonCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Status Reason Code\" for more details.
      type: string
      enum:
        - AM04
        - AM21
        - BEXX
        - CN01
        - DS0C
        - DS0D
        - DS0A
        - DS04
        - FOCR
        - SL11
        - TKSP
        - TKXP
        - AM02
        - DT05
        - AC05
        - AC06
        - DS0K
        - DT01
        - UPAY
        - EOL1
      example: 'AM04'
    error_NG_405_VOPbulk: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_405_VOPbulk'
        _links:
          $ref: '#/components/schemas/links'
    MessageCode_ServiceUnspecific_409:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      enum: 
          - STATUS_INVALID
          - CHANGE_INVALID
      example: 'STATUS_INVALID'
    FinancialInstitutionIdentificationCode:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
    MessageCode_ServiceUnspecific_405:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_INVALID
      example: 'SERVICE_INVALID'
    error_NG_409_VOP: 
      type: object
      properties:
        apiClientMessages:
          type: array
          items:
            $ref: '#/components/schemas/clientMessageInformation_409_VOP'
        _links:
          $ref: '#/components/schemas/links'
    ISODate:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      format: date
      example: '2020-01-01'
    LEI:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[A-Z0-9]{18,18}[0-9]{2,2}'
      example: '549300DTUYXVMJXZNY75'
    MessageCode_ServiceUnspecific_404:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - RESOURCE_UNKNOWN
      example: 'RESOURCE_UNKNOWN'
    BBAN:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Other ISO-related basic Types\" for more details.
      type: string
      pattern: '[a-zA-Z0-9]{1,30}' 
      example: 'BARC12345612345678'
    MessageCode_ServiceUnspecific_403:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - SERVICE_BLOCKED
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
      example: 'SERVICE_BLOCKED'
    clientMessageInformation_405_VOPbulk:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    clientMessageInformation_400_VOP:
      type: object
      required:
        - category
        - code
      properties:
        category:
          description: |
            Only \"ERROR\" or \"WARNING\" permitted
          type: string
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_400'
        path:
          type: string
        text:
          $ref: '#/components/schemas/Max500Text'
    MessageCode_ServiceUnspecific_401:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - CERTIFICATE_INVALID
        - CERTIFICATE_EXPIRED
        - ROLE_INVALID
        - CERTIFICATE_BLOCKED
        - CERTIFICATE_REVOKED
        - CERTIFICATE_MISSING
        - CLIENT_INVALID
        - CLIENT_INCONSISTENT
        - API_CONTRACT_ID_INVALID
        - SIGNATURE_INVALID
        - SIGNATURE_MISSING
        - PSU_CREDENTIALS_INVALID
        - CORPORATE_ID_INVALID
        - CONSENT_INVALID
        - CONSENT_EXPIRED
        - TOKEN_UNKNOWN
        - TOKEN_INVALID
        - TOKEN_EXPIRED
      example: 'CERTIFICATE_INVALID'
    MessageCode_ServiceUnspecific_400:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Service Unspecific HTTP Error Codes\" for more details.
      type: string
      enum: 
        - FORMAT_ERROR
        - PARAMETER_NOT_CONSISTENT
        - PARAMETER_NOT_SUPPORTED
        - SERVICE_INVALID
        - CONSENT_UNKNOWN
        - RESOURCE_UNKNOWN
        - RESOURCE_EXPIRED
        - RESOURCE_BLOCKED
        - TIMESTAMP_INVALID
        - PERIOD_INVALID
        - SCA_METHOD_UNKNOWN
        - SCA_INVALID
      example: 'FORMAT_ERROR'
    error_RFC7807_405_VOP: 
      description: |
        Standardised definition of reporting error information according to [RFC7807].
      type: object
      required:
        - type
        - code
      properties:
        type: 
          description: |
            A URI reference [RFC3986] that identifies the problem type. 
            Remark For Future: These URI will be provided by openFinance API Framework in future.
          type: string
          format: uri
          maxLength: 70
        title:
          description: |
            Short human readable description of error type. Could be in local language. To be provided by ASPSPs.
          allOf:
            - $ref: '#/components/schemas/Max70Text'
        status:
          description: |
            HTTP response code generated by the server.
            If contained, this is more relevant as the actual http response code in the actual response, because it is introduced by the application server.            
          type: integer
        detail:
          description: |
            Detailed human readable text specific to this instance of the error. 
          allOf:
            - $ref: '#/components/schemas/Max500Text'
        instance:
          description: |
            This attribute is containing a JSON pointer (as defined in [RFC6901]) or XPath expression to indicate the path to an issue generating the error in the related request.
          allOf:
            - $ref: '#/components/schemas/Max256Text'
        code:
          $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        additionalErrors:
          description: |
            Array of Error Information Blocks.
            Might be used if more than one error is to be communicated
          type: array
          items: #ErrorInformation
            description: This is a data element to support the declaration of additional errors in the context of [RFC7807]. 
            type: object
            required:
              - code
            properties:
              title:
                $ref: '#/components/schemas/Max70Text'
              detail:
                $ref: '#/components/schemas/Max500Text'
              code:
                $ref: '#/components/schemas/MessageCode_ServiceUnspecific_405'
        _links:
          $ref: '#/components/schemas/links'
    challenge:
      description: |
        See document \"openFinance API Framework Data Dictionary\", section \"Challenge\" for more details.
      type: object
      properties:
        image:
          description: |
            PNG data (max. 512 kilobyte) to be displayed to the PSU, Base64 encoding, cp. [RFC4648].
            This attribute is used only, when PHOTO_OTP or CHIP_OTP is the selected SCA method.
          type: string
        data:
          description: |
            A collection of challenge data
          type: array
          items: 
            type: string
        imageLink:
          description: |
            A link where the ASPSP will provides the challenge image for the TPP.
          type: string
        otpMaxLength:
[...]
